@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* -------------------- 프로젝트 색상 설정 --------------------*/
  --colors-main-primary: var(--colors-green-2);
  --colors-main-secondary: var(--colors-brown-1);
  --colors-green-0: #b7b7a4;
  --colors-green-1: #a5a58d;
  --colors-green-2: #6b705c;
  --colors-brown-0: #ffe8d6;
  --colors-brown-1: #ddbea9;
  --colors-brown-2: #cb997e;
}

@layer base {
  html {
    font-family: 'Jua', sans-serif;
    font-size: 16px;
    color: var(--colors-green-0);
  }
  body {
    background: var(--colors-brown-0);
  }
  main {
    height: calc(100% - 50px);
  }
  /* -------------------- Font Styles --------------------*/
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
  }
  /* -------------------- Button Styles --------------------*/
  button,
  [type='button'] {
    background: var(--colors-main-primary);
    border-radius: 4px;
    padding: 10px;
    color: white;
  }
  .button-secondary {
    background: var(--colors-main-secondary);
  }
  .button-border {
    background: white;
    border: 2px solid var(--colors-main-primary);
    color: var(--colors-main-primary);
  }
  .button-border-secondary {
    background: white;
    border: 2px solid var(--colors-main-secondary);
    color: var(--colors-main-secondary);
  }
  .button-empty {
    background: none;
    border: none;
  }
  .button-text,
  .button-text-secondary {
    width: -webkit-fill-available;
    background: none;
    border-bottom: 2px solid var(--colors-main-primary);
    border-radius: 0;
    color: var(--colors-main-primary);
    text-align: left;
  }
  .button-text-secondary {
    border-bottom: 2px solid var(--colors-main-secondary);
    color: var(--colors-main-secondary);
  }
  /* -------------------- Badge Styles --------------------*/
  .badge {
    background: var(--colors-main-primary);
    border-radius: 12px;
    padding: 8px 5px;
    color: white;
  }
}
